.properties-content {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0;

  &.properties-centered {
    align-items: center;
    justify-content: center;
  }
}