.reset-password-form {
  margin: 15px auto 30px;
  padding: 15px;
  max-width: 376px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  .logo {
    max-width: 257px;
    margin-bottom: 20px;
  }

  .reset-password-block {
    border: 1px solid #ddd;
    background: #fff;
    max-width: 376px;
    border-radius: 3px;
    padding: 0;
    
    h3 {
      margin-bottom: 30px;
      padding: 28px 0 25px;
      border-radius: 3px 3px 0 0;
      background: #036ded;
      color: #fff;
      font-family: Raleway;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
    
    main {
      padding: 0 31px;
      
      p {
        margin: 30px 0 10px;
        padding: 20px 31px;
        background-color: rgba(232, 232, 232, .4);
        text-align: center;
        a {
          color: #9e9e9e;
          font-family: Raleway;
          font-size: 11px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
    .form-group {
      margin-bottom: 10px;

      .form-control {
        border-radius: 3px;
      }
    }
    
    button {
      border-color: #036ded;
      border-radius: 0;
      color: #036ded;
      font-family: Raleway;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  
  
  p {
    margin: 30px 0 0;
    padding: 20px 31px;
    background-color: rgba(232, 232, 232, .4);
    text-align: center;
    a {
      color: #9e9e9e;
      font-family: Raleway;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}